{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="luis" >
    <link rel="icon" href="../../favicon.ico">

    <title>Washington IFC</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/jumbotron-narrow.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% block container %}
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="{% url 'chapters:index' %}">Chapters</a></li>
            <li role="presentation"><a href="/admin">Admin</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Washington Fraternity Life</h3>
      </div>

      {% block body %}

      {% endblock body %}

      <footer class="footer">
        <p>&copy; GreekPeek 2014</p>
      </footer>

    </div> <!-- /container -->
    {% endblock container %}


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'home/js/ie10-viewport-bug-workaround.js' %}"></script>
    {% block js %}
    {% endblock js %}
  </body>
</html>
