{% extends "base.html" %}

{% block body %}

<div class="wrapper">
    <div class="content">
        <h2>New User Sign-Up</h2>
        
        <span class="required">*Required</span><br/><br />
        <form onsubmit="return validateSignUp()" action="/signUp/" method="POST" >
            {% csrf_token %}
            <label for="first-name"><span class="required">*</span>First name</label>
            <input required name="first-name" id="first-name" type="text"/><br />
            
            <label for="last-name"><span class="required">*</span>Last name</label>
            <input required name="last-name" id="last-name" type="text" /><br />
            
            <label for="grade"><span class="required">*</span>Year In School</label><br />
            <select name="grade">
                <option>Freshmen</option>
                <option>Sophomore</option>
                <option>Junior</option>
                <option>Senior</option>
            </select><br /><br />
            
            <label for="email"><span class="required">*</span>Email
            <div class="form-error" id="email-invalid">Please enter a valid email address</div></label>
            <input required id="email" name="email" type="text" />
            
            <label for="phone-number"><span class="required">*</span>Phone number</label>
            <input required id="phone-number" name="phone-number" type="text" />
            
            <label for="password1"><span class="required">*</span>Password
            <input required id="password1" name="password1" type="password" />  
			
            <label for="password2"><span class="required">*</span>Confirm password
            <div class="form-error" id="password-mismatch">Passwords do not match</div></label>
            <input required id="password2" name="password2" type="password" /><br />
            
            <input id="submit" type="submit" value="Submit" />
        </form>
        <script>
        function validateSignUp() {
            if ($('#password1').val() !== $('#password2').val()) {
                $('#password-mismatch').fadeIn(100).delay(3000).fadeOut(300);
                return false;
            }
            if (!validateEmail($('#email').val())) {
                $('#email-invalid').fadeIn(100).delay(3000).fadeOut(300);
                return false;
            }
        }
        
        function validateEmail(email) { 
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
        </script>
        <style>
        label {
            position: relative;
        }
        
        .form-error {
            display: none;
            position: absolute;
            margin-top: 15px;
            padding: 5px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background-color: #c04848;
            color: white;
            z-index: 99998;
            left: 100%;
            top: 0;
            margin-left: 15px;
            margin-top: 10px;
            min-width: 200px;
        }
        
        .form-error:before {
            content: "";
            position: absolute;
            border-bottom: 10px solid transparent;
            border-right: 12px solid #c04848;
            top: 0%;
            right: 100%;
        }
        </style>
    </div>	
</div>

{% endblock body %}
