{% extends "base.html" %}

{% block body %}

<div style="background:black">
    <div class="wrapper">
        <div style="float:left;color:white;font-size:17px;line-height:28px;margin-top:50px">
            <h2>Why Join Fraternities?</h2>
            <p>Discover great communities.<br/>
            Share experiences and gain leadership experience.</p>
        </div>
        <div style="float:right">
            <img style="max-width: 480px;" src="http://www.matthew0x40.com/greekpeek/images/word%20cloud.png" role="presentation" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="content-bar" style="background:#f1f2f6"></div>

<div style="padding-bottom:15px">
    <div class="wrapper">
        <div class="content">
            <h1>The Facts.</h1>
            
            <ul>
                <li>Of the nation’s 50 largest corporations, 43 are headed by fraternity men</li>
                <li>85% of the Fortune 500 executives belong to a fraternity</li>
                <li>40 of 47 U.S. Supreme Court Justices since 1910 were fraternity men</li>
                <li>A National Conference report shows a high percentage of the 4,000 NIC fraternity chapters are above the All-Men’s scholastic average on their respective campuses</li>
                <li>Over 85% of the student leaders on some 730 campuses are involved in the Greek community </li>
                <li>18 presidents were in fraternities</li>
                <li>As Alumni, Greeks give approximately 75% of all money donated to universities</li>
                <li>There are 750,000 undergraduate members in 12,000 chapters on more than 800 campuses in the USA and Canada </li>
            </ul>
        </div>
    </div>
</div>

<div style="background: #1570a6;color: white;margin-top: 20px;padding-bottom: 20px;">
    <div class="wrapper">
        <div class="content">
            <h1>Famous Fraternity Men</h1>
            <ul>
                <li>Franklin Roosevelt, John Kennedy, George W. Bush - Former Presidents of the United States</li>
                <li>Stephen Spielberg, Director</li>
                <li>Harrison Ford, Actor</li>
                <li>Neil Armstrong, 1st man on the moon</li>
                <li>Bill Cosby, Comedian/Actor</li>
                <li>Eli Manning, NFL QB</li>
                <li>Michael Jordan, NBA</li>
                <li>Steve Cohen, SAC Capital CEO</li>
            </ul>
        </div>
    </div>
</div>

<div style="padding-bottom:15px">
    <div class="wrapper">
        <div class="content">
            <h1>Quotes about Fraternities</h1>
            
            <blockquote class="frat-quote">
            “Fraternity is the fuel that allows common people to produce uncommon results.”
            </blockquote>
            
            <blockquote class="frat-quote">
            “From the outside looking in you can never understand it. From inside looking out you can never explain it.”
            </blockquote>
        </div>
        <style>
        .frat-quote {
            background: #f1f2f6;
            padding: 15px 10px;
            margin-top: 10px;
            margin-bottom: 20px
        }
        </style>
    </div>
</div>
<style>
.content {
    font-size: 17px;
    line-height: 28px;
}
</style>

{% endblock body %}
