<!-- Home page for Greek Peek -->

<!DOCTYPE html> 
<html lang="en"> 
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
        <meta name=viewport content='width=device-width, initial-scale=1'>
        <title>Greek Peek</title>
        <link rel='stylesheet' href='http://students.washington.edu/humzam/style.css' type='text/css' media='all' />
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   </head>

    <body>
        <div id="frame">
            <div id="banner">
                <div class="wrapper">
                    <div id="branding">
                        <img style="max-height:35px;display:block;float:left;margin-top:2px" id="logo" src="http://i.imgur.com/fAFmD1b.png">
                        <h1 style="display:block;float:left;margin-left:5px" id="title">
                            <a style="color:#111" href="/">GreekPeek (Beta)</a>
                        </h1>
                    <div class="clearfix"></div>
                    </div>
                    <div id="signin-box">
                        {% if user.is_authenticated %}
                        <a href="/profileSettings" style="margin-right:10px;">Settings</a>
                        <a href="/logout" class="button2">Sign out ({{ user.firstName }})</a>
                        {% else %}
                        <a href="/signIn" style="margin-right:10px;">Sign in</a>
                        <a href="/signUp" class="button2">Sign up</a>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div id="navbar">
                <div class="wrapper">
                    <ul>
                        <li class="{{ tab1 }}"><a href="/">Home</a></li>
                        <li class="{{ tab2 }}"><a href="/fraternities">Fraternities</a></li>
                        <li class="{{ tab3 }}"><a href="/whyJoin">Why Join</a></li>
                        {% if isRushChair %}<li class="{{ tab4 }}"><a href="/rushAdmin">Rush Chair Admin</a></li>{% endif %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="content">
{% block body %}

{% endblock body %}
            </div>
			<div id="footer">
                <div class="wrapper">
                    &copy 2014 Greek Peek <br/> 
                    <a href="/contactUs">Contact Us</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a href="/policies">Privacy & Terms</a>
                </div>
            </div>
		</div>
	</body>

</html>
