{% extends "base.html" %}

{% block body %}

{% if user.is_authenticated %}
<div id="overall_admin_header">
	<span>Rush Chair Admin Panel - {{ chapter }}</span>
    <span><a href="/">Site Index</a></span>
    
    <span class="fr"><a href="/logout" class="button2">Sign out ({{ user.firstName }})</a></span>
    <span class="fr"><a href="/profileSettings">Account Settings</a></span>
    <div class="clearfix"></div>
</div>
<div id="overall_admin">
    <div id="admin-nav">
        <ul>
            <li><a href="#sms-blast" data-pane="sms-blast" class="active">SMS Blast</a></li>
            <li><a href="#names-list" data-pane="names-list">Names List</a></li>
        </ul>
        <script>
        $('#admin-nav li a').click(function() {
            $('.admin-pane').each(function(index) {
                $(this).removeClass('active');
            });
            
            $('#admin-nav li a').each(function(index) {
                $(this).removeClass('active');
            });
            
            $(this).addClass('active');
            $('.admin-pane[data-pane='+$(this).attr('data-pane')+']').addClass('active');
        });
        
        function adminSwitchPane(pane) {
            $('.admin-pane').each(function(index) {
                $(this).removeClass('active');
            });
            
            $('#admin-nav li a').each(function(index) {
                $(this).removeClass('active');
            });
            
            var a = $('#admin-nav li a[data-pane='+pane+']');
            
            a.addClass('active');
            $('.admin-pane[data-pane='+a.attr('data-pane')+']').addClass('active');
        }
        </script>
    </div>
    <div id="admin-panes">
        <div class="admin-pane active" data-pane="sms-blast">
            <section>
                <h2>SMS Blast</h2>
                <form action="/rushAdmin/" method="post">
                    {% csrf_token %}
                    
                    <p>NB: Please allow a minute or two for the text message to be received.</p>
                    
                    <div id="sms-blast-col-left">
                        <h4>Message</h4>
                        <textarea name="text" style="width: 100%;resize:vertical;min-height: 200px;padding:5px;"></textarea>
                    </div>
                    
                    <div id="sms-blast-col-right">
                        <h4 style="float:left">Send to</h4>
                        <a style="cursor:pointer;float:right" onclick="smsRecieversSelectAll()">Select All</a>
                        <span style="display:inline-block;float:right;">&nbsp;|&nbsp;</span>
                        <a style="cursor:pointer;float:right" onclick="smsRecieversSelectNone()">Select None</a>
                        <div class="clearfix"></div>
                        
                        <select id="receivers" name="receivers[]" multiple style="width: 100%;min-height: 212px;padding:5px;">
                            {% for recruit in rushing %}
                            <option selected value="{{recruit.pk}}">{{recruit.user}}</option>
                            {% endfor %}
                        </select>
                        <script>
                        function smsRecieversSelectAll() {
                            var select = document.getElementById('receivers');
                            for (var i = 0, l = select.options.length; i < l; i++ ) {
                                select.options[i].selected = true;
                            }
                        }
                        function smsRecieversSelectNone() {
                            var select = document.getElementById('receivers');
                            for (var i = 0, l = select.options.length; i < l; i++ ) {
                                select.options[i].selected = false;
                            }
                        }
                        </script>
                    </div>
                    <div class="clearfix"></div>
                    
                    <input type="submit" val="Send"/>
                </form>
            </section>
        </div>
        <div class="admin-pane" data-pane="names-list">
            <section>
                <h2>Names List</h2>
                
                <div id="subs">
                    
                </div>
                
                <div id="personinfo">
                    <span id="name"></span><br />
                    <ul>
                        <li>Year:</li><span id="year"></span><br/><br/>
                        <li>Phone:</li><span id="phone"></span><br/><br/>
                        <li>Email:</li><span id="email"></span><br/><br/>
                        <li>Major:</li><span id="major"></span><br/><br/>
                    </ul>
                </div>
            </section>
            <script>
            var datag;
            function runNamesList() {
                $.get("http://10.88.77.65/json/Phi%20Delta%20Theta/", function(data, status) {
                    console.log(data);
                    datag = data;
                    for (var i = 0; i < data.length; i++) {
                        var name = data[i].firstName;
                    
                        $('<input id="name'+i+'" type="radio" name="name" onclick="changeData('+i+');" "value="name'+i+'"><label for="name'+i+'">'+name+'</label><br />').appendTo("#subs");
                    }
                }).fail(function(err) {
                    console.log("get failed");
                });
            };

            function buildList() {
                data = this.responseText;
                for (var i = 0; i < data.length; i++) {
                    $("#name" + i).text(data[i]["name"]);
                };
            }

            function changeData(event) {
                var allButtons = $("input");
                var name;
                for (var i = 0; i < allButtons.length; i++) {
                    if(allButtons[i].checked) {
                        name = $("inp").value;
                    }
                }
                $("#name").text(name);
                var id = event;
                $("#year").text(datag[id]["grade"]);
                $("#phone").text(datag[id]["phone"]);
                $("#email").text(datag[id]["email"]);
                $("#major").text(datag[id]["major"]);	
            }
            
            runNamesList();
            </script>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
if(window.location.hash) {
    var hash = window.location.hash.substring(1);
    console.log(hash);
    if (hash === 'sms-blast') {
        // Do nothing
    } else if (hash === 'names-list') {
        adminSwitchPane('names-list');
    }
}
</script>
<style>
#overall_admin_header {
    display: block;
    background: rgb(48,48,48);
    color: white;
    font-size: 17px;
    line-height: 28px;
}
#overall_admin_header span {
    float: left;
    margin-right: 15px;
    padding: 7px 10px;
}
#overall_admin_header span.fr {
    float: right;
}
#overall_admin_header span:not(:first-child) {
    border-left: 2px solid rgb(72,72,72);
    padding-left: 15px;
}
#overall_admin_header a {
    color: white;
}

#overall_admin {
    display: table;
    min-height: 900px;
}

#admin-nav {
    display: table-cell;
    vertical-align: top;
    background: rgb(48,48,48);
    width: 20%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 2px solid rgb(72,72,72);
}

#admin-nav ul {
    list-style-type: none;
}

#admin-nav ul li {
    margin-left: 0 !important;
}

#admin-nav ul li a.active:after {
    content: '';
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #f1f2f6; 
    right: 0;
    position: absolute;
}
#admin-nav ul li a.active {
    background: #2980b9;
}

#admin-nav ul li:first-child a {
    border-top: 2px solid rgb(72,72,72);
}

#admin-nav ul li a {
    display: block;
    color: white;
    padding: 5px;
    font-size: 17px;
    line-height: 28px;
    border-bottom: 2px solid rgb(72,72,72);
    position: relative;
}

#admin-panes {
    display: table-cell;
    vertical-align: top;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #f1f2f6;
}

.admin-pane {
    display: none;
}
.admin-pane.active {
    display: block;
}

.admin-pane section {
    background: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,.12);
}

#footer {
    margin-top: 0 !important;
    background: rgb(48,48,48);
    color: white;
}
#footer a {
    color: white;
}

#navbar, #banner {
    display: none;
}

h1,h2,h3,h4,h5,h6 {
    color: rgb(28,28,28);
    margin-top: 0;
}

/* SMS Blast Specifics */
#sms-blast-col-left {
    float: left;
    width: 70%;
    padding: 10px;
    padding-left: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#sms-blast-col-right {
    float: right;
    width: 30%;
    padding: 10px;
    padding-right: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

</style>
{% else %}
<div class="wrapper">
    <div class="content">
        <p style="font-size: 17px;margin-top: 20px;margin-bottom: 500px;">You must be signed in tand have permission o view this page.</p>
    </div>
</div>
{% endif %}

{% endblock body %}
