{% extends "base.html" %}

{% block body %}
        <h1>Bootstrap starter template</h1>
        <p class="lead">
          {% if user.campus %}
          Campus listing for {{ user.campus }} goes here.
          {% else %}
          Campus selection goes here
          {% endif %}
        </p>
        
        <p>
          <form action="/campus/" method="POST">{% csrf_token %}
            <select class="selectpicker" name="campus">
            {% for state, campuses in states.items %}
              <!--<optgroup label="{{ state }}">-->
                {% for campus in campuses %}
                <option value="{{ campus.name }}">{{ campus.name }}</option>
                {% endfor %}
              </optgroup>
            {% endfor %}
            </select>
            <input type="submit" value="Submit">
          </form>
          
        </p>
{% endblock %}

<ul>
    
