{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
<div id="map-canvas"></div>
{% endblock container %}

{% block head %}
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSXUMPeor7xm69HzponL7xEqISHd3SrIU">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 47.6626582, lng: -122.3070346},
          zoom: 17
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
            
        var myLatlng = new google.maps.LatLng(47.662836, -122.305180);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:"Hello World!",
            animation: google.maps.Animation.DROP,
        });
        
        google.maps.event.addListener(marker, 'click', function() {
          map.setZoom(8);
          map.setCenter(marker.getPosition());
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock head %}

{% block js %}
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/jquery.min.js' %}"></script>
{% endblock js %}
